.card {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border: 1.3px solid black;
  }
  
  .card h3 {
    margin-top: 10px;
  }
  