.sidebar {
    width: 215px;
    background-color: #D7D4E9;
    color: rgb(0, 0, 0);
    height: 100vh;
    padding: 20px;
    position: fixed;
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 10px 0;
    cursor: pointer;
  }
  
  .sidebar .tutorials {
    margin-top: 20px;
  }
  
  .sidebar button {
    margin-top: 20px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }
  